<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .table-container {
        width: 100%;
        overflow-x: auto;
      }

      table {
        width: max-content;
        white-space: nowrap;
      }

      tr th,
      tr td {
        text-align: center;
        border: 1px solid;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="table-container">
      <h2>Last 7 Days</h2>
      <br />
      <table>
        <thead>
          <tr>
            <td>Total Sale</td>
            <td>Total Order</td>
            <td>AOV</td>
            <td>New Customers</td>
          </tr>
        </thead>
        <tbody>
          <tbody>
            <tr>
              <td>{{ last_7_days_total_sale }}</td>
              <td>{{ last_7_days_total_order }}</td>
              <td>{{ last_7_days_aov }}</td>
              <td>{{ last_7_days_nc }}</td>
            </tr>
          </tbody>
        </tbody>
      </table>

      <br />
      <br />
      <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Count</th>
            <th>Product Price</th>
            <th>Gross</th>
          </tr>
        </thead>
        <tbody>
          {% for data in top_selling_product %}
          <tr>
            <td>{{ data.product_title }}</td>
            <td>{{ data.total_quantity }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.gross }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
