{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Adset Metrix</h1>
      </div>
      <div class="selectOption">
        <select id="selectCampaign">
          <option value="all">All</option>
        </select>
      </div>
    <br>
    <div class="download_wrapper">
      <h2>Yesterday</h2>
      <form id="downloadForm" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="name" value="yesterday">
          <button type="submit" class="download btn btn-primary">Download CSV</button>
      </form>
    </div>
    <br>
    <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Adset Name</th>
          <th>Objective</th>
          <th>Impressions</th>
          <th>Spend</th>
          <th>Reach</th>
          <th>Frequency</th>
          <th>Views</th>
          <th>Add to Cart</th>
          <th>Initiated Checkout</th>
          <th>Purchase</th>
          <th>Purchase ROAS</th>
          <th>Inline link click</th>
          <th>outbond click ctr</th>
          <th>CPM</th>
          <th>CPC</th>
          <th>CTR</th>
          <th>Visit</th>
        </tr>
      </thead>
      <tbody id="yesterday_body">
        {% for data in yesterday_adsets %}
        <tr>
          <td>
            <span class=wrapper>
              {{ data.cname }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.name }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.objective }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.impressions }}  
              <span class="delta">
                {{ data.delta_impressions }}%
                {% if data.delta_impressions > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.spend }}  
              <span class="delta">
                {{ data.delta_spend }}%
                {% if data.delta_spend > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.reach }}  
              <span class="delta">
                {{ data.delta_reach }}%
                {% if data.delta_reach > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.frequency }}  
              <span class="delta">
                {{ data.delta_frequency }}%
                {% if data.delta_frequency > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.views }}  
              <span class="delta">
                {{ data.delta_views }}%
                {% if data.delta_views > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.addtocart }}  
              <span class="delta">
                {{ data.delta_addtocart }}%
                {% if data.delta_addtocart > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.checkout }}  
              <span class="delta">
                {{ data.delta_checkout }}%
                {% if data.delta_checkout > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.result }}  
              <span class="delta">
                {{ data.delta_result }}%
                {% if data.delta_result > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.purchase_roas }}  
              <span class="delta">
                {{ data.delta_purchase_roas }}%
                {% if data.delta_purchase_roas > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cost_per_inline_link_click }}%  
              <span class="delta">
                {{ data.delta_cost_per_inline_link_click }}%
                {% if data.delta_cost_per_inline_link_click > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.outbound_clicks_ctr }}%  
              <span class="delta">
                {{ data.delta_outbound_clicks_ctr }}%
                {% if data.delta_outbound_clicks_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpm }}  
              <span class="delta">
                {{ data.delta_cpm }}%
                {% if data.delta_cpm > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpc }}  
              <span class="delta">
                {{ data.delta_cpc }}%
                {% if data.delta_cpc > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.ctr }}%  
              <span class="delta">
                {{ data.delta_ctr }}%
                {% if data.delta_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <a href="https://business.facebook.com/adsmanager/manage/ads?act={{account_id}}&business_id={{business_id}}&global_scope_id={{app_id}}&nav_entry_point=am_local_scope_selector&column_preset=SALES&date=2023-05-19_2023-06-02%2Clast_14d&insights_date=2023-05-19_2023-06-02%2Clast_14d&selected_campaign_ids={{data.cid}}&selected_adset_ids={{data.id}}">
              View Adset
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <br>
    <div class="download_wrapper">
      <h2>Last 3 Days</h2>
      <form id="downloadForm" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="name" value="last_3_days">
          <button type="submit" class="download btn btn-primary">Download CSV</button>
      </form>
    </div>
    <br>
    <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Adset Name</th>
          <th>Objective</th>
          <th>Impressions</th>
          <th>Spend</th>
          <th>Reach</th>
          <th>Frequency</th>
          <th>Views</th>
          <th>Add to Cart</th>
          <th>Initiated Checkout</th>
          <th>Purchase</th>
          <th>Purchase ROAS</th>
          <th>Inline link click</th>
          <th>outbond click ctr</th>
          <th>CPM</th>
          <th>CPC</th>
          <th>CTR</th>
          <th>Visit</th>
        </tr>
      </thead>
      <tbody id="last_3_days_body">
        {% for data in last_3_days_adsets %}
        <tr>
          <td>
            <span class=wrapper>
              {{ data.cname }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.name }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.objective }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.impressions }}  
              <span class="delta">
                {{ data.delta_impressions }}%
                {% if data.delta_impressions > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.spend }}  
              <span class="delta">
                {{ data.delta_spend }}%
                {% if data.delta_spend > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.reach }}  
              <span class="delta">
                {{ data.delta_reach }}%
                {% if data.delta_reach > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.frequency }}  
              <span class="delta">
                {{ data.delta_frequency }}%
                {% if data.delta_frequency > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.views }}  
              <span class="delta">
                {{ data.delta_views }}%
                {% if data.delta_views > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.addtocart }}  
              <span class="delta">
                {{ data.delta_addtocart }}%
                {% if data.delta_addtocart > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.checkout }}  
              <span class="delta">
                {{ data.delta_checkout }}%
                {% if data.delta_checkout > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.result }}  
              <span class="delta">
                {{ data.delta_result }}%
                {% if data.delta_result > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.purchase_roas }}  
              <span class="delta">
                {{ data.delta_purchase_roas }}%
                {% if data.delta_purchase_roas > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cost_per_inline_link_click }}%  
              <span class="delta">
                {{ data.delta_cost_per_inline_link_click }}%
                {% if data.delta_cost_per_inline_link_click > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.outbound_clicks_ctr }}%  
              <span class="delta">
                {{ data.delta_outbound_clicks_ctr }}%
                {% if data.delta_outbound_clicks_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpm }}  
              <span class="delta">
                {{ data.delta_cpm }}%
                {% if data.delta_cpm > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpc }}  
              <span class="delta">
                {{ data.delta_cpc }}%
                {% if data.delta_cpc > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.ctr }}%  
              <span class="delta">
                {{ data.delta_ctr }}%
                {% if data.delta_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <a href="https://business.facebook.com/adsmanager/manage/ads?act={{account_id}}&business_id={{business_id}}&global_scope_id={{app_id}}&nav_entry_point=am_local_scope_selector&column_preset=SALES&date=2023-05-19_2023-06-02%2Clast_14d&insights_date=2023-05-19_2023-06-02%2Clast_14d&selected_campaign_ids={{data.cid}}&selected_adset_ids={{data.id}}">
              View Adset
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <br>
    <div class="download_wrapper">
      <h2>Last 7 Days</h2>
      <form id="downloadForm" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="name" value="last_7_days">
          <button type="submit" class="download btn btn-primary">Download CSV</button>
      </form>
    </div>
    <br>
    <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Adset Name</th>
          <th>Objective</th>
          <th>Impressions</th>
          <th>Spend</th>
          <th>Reach</th>
          <th>Frequency</th>
          <th>Views</th>
          <th>Add to Cart</th>
          <th>Initiated Checkout</th>
          <th>Purchase</th>
          <th>Purchase ROAS</th>
          <th>Inline link click</th>
          <th>outbond click ctr</th>
          <th>CPM</th>
          <th>CPC</th>
          <th>CTR</th>
          <th>Visit</th>
        </tr>
      </thead>
      <tbody id="last_7_days_body">
        {% for data in last_7_days_adsets %}
        <tr>
          <td>
            <span class=wrapper>
              {{ data.cname }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.name }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.objective }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.impressions }}  
              <span class="delta">
                {{ data.delta_impressions }}%
                {% if data.delta_impressions > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.spend }}  
              <span class="delta">
                {{ data.delta_spend }}%
                {% if data.delta_spend > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.reach }}  
              <span class="delta">
                {{ data.delta_reach }}%
                {% if data.delta_reach > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.frequency }}  
              <span class="delta">
                {{ data.delta_frequency }}%
                {% if data.delta_frequency > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.views }}  
              <span class="delta">
                {{ data.delta_views }}%
                {% if data.delta_views > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.addtocart }}  
              <span class="delta">
                {{ data.delta_addtocart }}%
                {% if data.delta_addtocart > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.checkout }}  
              <span class="delta">
                {{ data.delta_checkout }}%
                {% if data.delta_checkout > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.result }}  
              <span class="delta">
                {{ data.delta_result }}%
                {% if data.delta_result > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.purchase_roas }}  
              <span class="delta">
                {{ data.delta_purchase_roas }}%
                {% if data.delta_purchase_roas > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cost_per_inline_link_click }}%  
              <span class="delta">
                {{ data.delta_cost_per_inline_link_click }}%
                {% if data.delta_cost_per_inline_link_click > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.outbound_clicks_ctr }}%  
              <span class="delta">
                {{ data.delta_outbound_clicks_ctr }}%
                {% if data.delta_outbound_clicks_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpm }}  
              <span class="delta">
                {{ data.delta_cpm }}%
                {% if data.delta_cpm > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpc }}  
              <span class="delta">
                {{ data.delta_cpc }}%
                {% if data.delta_cpc > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.ctr }}%  
              <span class="delta">
                {{ data.delta_ctr }}%
                {% if data.delta_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <a href="https://business.facebook.com/adsmanager/manage/ads?act={{account_id}}&business_id={{business_id}}&global_scope_id={{app_id}}&nav_entry_point=am_local_scope_selector&column_preset=SALES&date=2023-05-19_2023-06-02%2Clast_14d&insights_date=2023-05-19_2023-06-02%2Clast_14d&selected_campaign_ids={{data.cid}}&selected_adset_ids={{data.id}}">
              View Adset
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <br>
    <div class="download_wrapper">
      <h2>Last 30 Days</h2>
      <form id="downloadForm" method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="name" value="last_30_days">
          <button type="submit" class="download btn btn-primary">Download CSV</button>
      </form>
    </div>
    <br>
    <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Adset Name</th>
          <th>Objective</th>
          <th>Impressions</th>
          <th>Spend</th>
          <th>Reach</th>
          <th>Frequency</th>
          <th>Views</th>
          <th>Add to Cart</th>
          <th>Initiated Checkout</th>
          <th>Purchase</th>
          <th>Purchase ROAS</th>
          <th>Inline link click</th>
          <th>outbond click ctr</th>
          <th>CPM</th>
          <th>CPC</th>
          <th>CTR</th>
          <th>Visit</th>
        </tr>
      </thead>
      <tbody id="last_30_days_body">
        {% for data in last_30_days_adsets %}
        <tr>
          <td>
            <span class=wrapper>
              {{ data.cname }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.name }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.objective }}  
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.impressions }}  
              <span class="delta">
                {{ data.delta_impressions }}%
                {% if data.delta_impressions > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.spend }}  
              <span class="delta">
                {{ data.delta_spend }}%
                {% if data.delta_spend > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.reach }}  
              <span class="delta">
                {{ data.delta_reach }}%
                {% if data.delta_reach > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.frequency }}  
              <span class="delta">
                {{ data.delta_frequency }}%
                {% if data.delta_frequency > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.views }}  
              <span class="delta">
                {{ data.delta_views }}%
                {% if data.delta_views > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.addtocart }}  
              <span class="delta">
                {{ data.delta_addtocart }}%
                {% if data.delta_addtocart > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.checkout }}  
              <span class="delta">
                {{ data.delta_checkout }}%
                {% if data.delta_checkout > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.result }}  
              <span class="delta">
                {{ data.delta_result }}%
                {% if data.delta_result > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.purchase_roas }}  
              <span class="delta">
                {{ data.delta_purchase_roas }}%
                {% if data.delta_purchase_roas > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cost_per_inline_link_click }}%  
              <span class="delta">
                {{ data.delta_cost_per_inline_link_click }}%
                {% if data.delta_cost_per_inline_link_click > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.outbound_clicks_ctr }}%  
              <span class="delta">
                {{ data.delta_outbound_clicks_ctr }}%
                {% if data.delta_outbound_clicks_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpm }}  
              <span class="delta">
                {{ data.delta_cpm }}%
                {% if data.delta_cpm > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.cpc }}  
              <span class="delta">
                {{ data.delta_cpc }}%
                {% if data.delta_cpc > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <span class=wrapper>
              {{ data.ctr }}%  
              <span class="delta">
                {{ data.delta_ctr }}%
                {% if data.delta_ctr > 0 %}<span class="up"></span>{% else %}<span class="down"></span>{% endif %}
              </span>
            </span>
          </td>
          <td>
            <a href="https://business.facebook.com/adsmanager/manage/ads?act={{account_id}}&business_id={{business_id}}&global_scope_id={{app_id}}&nav_entry_point=am_local_scope_selector&column_preset=SALES&date=2023-05-19_2023-06-02%2Clast_14d&insights_date=2023-05-19_2023-06-02%2Clast_14d&selected_campaign_ids={{data.cid}}&selected_adset_ids={{data.id}}">
              View Adset
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    </div>

    <script>
      const yesterday_adset_data =  {{ yesterday_adsets|safe }}
      const last_3_days_adset_data = {{ last_3_days_adsets|safe }}
      const last_7_days_adset_data = {{ last_7_days_adsets|safe }}
      const last_30_days_adset_data = {{ last_30_days_adsets|safe }}
      document.addEventListener("click", (e) => {
        if(e.target.classList.contains("download") || (e.target).closest(".download")){
          let form = (e.target).closest("form")
          let dataVariable = form.querySelector("input[name='name']").value;
          let data
          if (dataVariable == 'yesterday'){
            data = yesterday_adset_data
          }else if(dataVariable == 'last_3_days'){
            data = last_3_days_adset_data
          }else if(dataVariable == 'last_7_days'){
            data = last_7_days_adset_data
          }else if(dataVariable == 'last_30_days'){
            data = last_30_days_adset_data
          }
          fetch('/download/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value 
              },
              body: JSON.stringify(data)
          })
          .then(function(response) {
              if (response.ok) {
                  response.blob().then(function(blob) {
                      var downloadLink = document.createElement('a');
                      downloadLink.href = URL.createObjectURL(blob);
                      downloadLink.download = 'data.csv';
                      downloadLink.click();
                  });
              } else {
                  console.error('Error:', response.statusText);
              }
          })
          .catch(function(error) {
              console.error('Error:', error);
          });
          // console.log(data)
        }
      })

         // update select opitons
        const select = document.getElementById("selectCampaign");
        function updateSelectList(){
          const uniqueNames = new Set();
          const filteredData = yesterday_adset_data.filter(obj => {
            if (uniqueNames.has(obj.cname)) {
              return false; 
            }
            uniqueNames.add(obj.cname); 
            return true;
          });
          console.log(filteredData)
          filteredData.forEach((el) => {
            const option = document.createElement("option");
            option.value = el.cname;
            option.textContent = el.cname;
            select.appendChild(option);
          })
        }

        document.addEventListener("DOMContentLoaded", function() {
          updateSelectList();
        });

        function createRow(data){
          const row = document.createElement('tr');
          const cname = document.createElement('td');
          cname.textContent = data.cname;
          row.append(cname)

          const name = document.createElement('td');
          name.textContent = data.name;
          row.append(name)
          
          const objective = document.createElement('td');
          objective.textContent = data.objective;
          row.append(objective)

          const impression = document.createElement('td');
          const impression_span = document.createElement('span')
          impression_span.classList.add('wrapper')
          impression_span.textContent = data.impressions
          const impression_span_span = document.createElement('span')
          impression_span_span.classList.add('delta');
          impression_span_span.textContent = data.delta_impressions+'%';
          const impression_span_span_span = document.createElement('span')
          impression_span_span_span.classList.add(data.delta_impressions > 0 ? 'up' : 'down');
          impression_span_span.appendChild(impression_span_span_span)
          impression_span.appendChild(impression_span_span)
          impression.appendChild(impression_span)
          row.append(impression)

          const spend = document.createElement('td');
          const spend_span = document.createElement('span')
          spend_span.classList.add('wrapper')
          spend_span.textContent = data.spend
          const spend_span_span = document.createElement('span')
          spend_span_span.classList.add('delta');
          spend_span_span.textContent = data.delta_spend+'%';
          const spend_span_span_span = document.createElement('span')
          spend_span_span_span.classList.add(data.delta_spend > 0 ? 'up' : 'down');
          spend_span_span.appendChild(spend_span_span_span)
          spend_span.appendChild(spend_span_span)
          spend.appendChild(spend_span)
          row.append(spend)

          const reach = document.createElement('td');
          const reach_span = document.createElement('span')
          reach_span.classList.add('wrapper')
          reach_span.textContent = data.reach
          const reach_span_span = document.createElement('span')
          reach_span_span.classList.add('delta');
          reach_span_span.textContent = data.delta_reach+'%';
          const reach_span_span_span = document.createElement('span')
          reach_span_span_span.classList.add(data.delta_reach > 0 ? 'up' : 'down');
          reach_span_span.appendChild(reach_span_span_span)
          reach_span.appendChild(reach_span_span)
          reach.appendChild(reach_span)
          row.append(reach)

          const frequency = document.createElement('td');
          const frequency_span = document.createElement('span')
          frequency_span.classList.add('wrapper')
          frequency_span.textContent = data.frequency
          const frequency_span_span = document.createElement('span')
          frequency_span_span.classList.add('delta');
          frequency_span_span.textContent = data.delta_frequency+'%';
          const frequency_span_span_span = document.createElement('span')
          frequency_span_span_span.classList.add(data.delta_frequency > 0 ? 'up' : 'down');
          frequency_span_span.appendChild(frequency_span_span_span)
          frequency_span.appendChild(frequency_span_span)
          frequency.appendChild(frequency_span)
          row.append(frequency)

          const views = document.createElement('td');
          const views_span = document.createElement('span')
          views_span.classList.add('wrapper')
          views_span.textContent = data.views
          const views_span_span = document.createElement('span')
          views_span_span.classList.add('delta');
          views_span_span.textContent = data.delta_views+'%';
          const views_span_span_span = document.createElement('span')
          views_span_span_span.classList.add(data.delta_views > 0 ? 'up' : 'down');
          views_span_span.appendChild(views_span_span_span)
          views_span.appendChild(views_span_span)
          views.appendChild(views_span)
          row.append(views)

          const addtocart = document.createElement('td');
          const addtocart_span = document.createElement('span')
          addtocart_span.classList.add('wrapper')
          addtocart_span.textContent = data.addtocart
          const addtocart_span_span = document.createElement('span')
          addtocart_span_span.classList.add('delta');
          addtocart_span_span.textContent = data.delta_addtocart+'%';
          const addtocart_span_span_span = document.createElement('span')
          addtocart_span_span_span.classList.add(data.delta_addtocart > 0 ? 'up' : 'down');
          addtocart_span_span.appendChild(addtocart_span_span_span)
          addtocart_span.appendChild(addtocart_span_span)
          addtocart.appendChild(addtocart_span)
          row.append(addtocart)

          const checkout = document.createElement('td');
          const checkout_span = document.createElement('span')
          checkout_span.classList.add('wrapper')
          checkout_span.textContent =data.checkout
          const checkout_span_span = document.createElement('span')
          checkout_span_span.classList.add('delta');
          checkout_span_span.textContent =data.delta_checkout;
          const checkout_span_span_span = document.createElement('span')
          checkout_span_span_span.classList.add(data.delta_checkout > 0 ? 'up' : 'down');
          checkout_span_span.appendChild(checkout_span_span_span)
          checkout_span.appendChild(checkout_span_span)
          checkout.appendChild(checkout_span)
          row.append(checkout)

          const result = document.createElement('td');
          const result_span = document.createElement('span')
          result_span.classList.add('wrapper')
          result_span.textContent =data.result
          const result_span_span = document.createElement('span')
          result_span_span.classList.add('delta');
          result_span_span.textContent =data.delta_result;
          const result_span_span_span = document.createElement('span')
          result_span_span_span.classList.add(data.delta_result > 0 ? 'up' : 'down');
          result_span_span.appendChild(result_span_span_span)
          result_span.appendChild(result_span_span)
          result.appendChild(result_span)
          row.append(result)

          const purchase_roas = document.createElement('td');
          const purchase_roas_span = document.createElement('span')
          purchase_roas_span.classList.add('wrapper')
          purchase_roas_span.textContent =data.purchase_roas
          const purchase_roas_span_span = document.createElement('span')
          purchase_roas_span_span.classList.add('delta');
          purchase_roas_span_span.textContent =data.delta_purchase_roas;
          const purchase_roas_span_span_span = document.createElement('span')
          purchase_roas_span_span_span.classList.add(data.delta_purchase_roas > 0 ? 'up' : 'down');
          purchase_roas_span_span.appendChild(purchase_roas_span_span_span)
          purchase_roas_span.appendChild(purchase_roas_span_span)
          purchase_roas.appendChild(purchase_roas_span)
          row.append(purchase_roas)

          const cost_per_inline_link_click = document.createElement('td');
          const cost_per_inline_link_click_span = document.createElement('span')
          cost_per_inline_link_click_span.classList.add('wrapper')
          cost_per_inline_link_click_span.textContent =data.cost_per_inline_link_click+'%'
          const cost_per_inline_link_click_span_span = document.createElement('span')
          cost_per_inline_link_click_span_span.classList.add('delta');
          cost_per_inline_link_click_span_span.textContent =data.delta_cost_per_inline_link_click;
          const cost_per_inline_link_click_span_span_span = document.createElement('span')
          cost_per_inline_link_click_span_span_span.classList.add(data.delta_cost_per_inline_link_click > 0 ? 'up' : 'down');
          cost_per_inline_link_click_span_span.appendChild(cost_per_inline_link_click_span_span_span)
          cost_per_inline_link_click_span.appendChild(cost_per_inline_link_click_span_span)
          cost_per_inline_link_click.appendChild(cost_per_inline_link_click_span)
          row.append(cost_per_inline_link_click)

          const outbound_clicks_ctr = document.createElement('td');
          const outbound_clicks_ctr_span = document.createElement('span')
          outbound_clicks_ctr_span.classList.add('wrapper')
          outbound_clicks_ctr_span.textContent =data.outbound_clicks_ctr+'%'
          const outbound_clicks_ctr_span_span = document.createElement('span')
          outbound_clicks_ctr_span_span.classList.add('delta');
          outbound_clicks_ctr_span_span.textContent =data.delta_outbound_clicks_ctr;
          const outbound_clicks_ctr_span_span_span = document.createElement('span')
          outbound_clicks_ctr_span_span_span.classList.add(data.delta_outbound_clicks_ctr > 0 ? 'up' : 'down');
          outbound_clicks_ctr_span_span.appendChild(outbound_clicks_ctr_span_span_span)
          outbound_clicks_ctr_span.appendChild(outbound_clicks_ctr_span_span)
          outbound_clicks_ctr.appendChild(outbound_clicks_ctr_span)
          row.append(outbound_clicks_ctr)

          const cpm = document.createElement('td');
          const cpm_span = document.createElement('span')
          cpm_span.classList.add('wrapper')
          cpm_span.textContent =data.cpm
          const cpm_span_span = document.createElement('span')
          cpm_span_span.classList.add('delta');
          cpm_span_span.textContent =data.delta_cpm;
          const cpm_span_span_span = document.createElement('span')
          cpm_span_span_span.classList.add(data.delta_cpm > 0 ? 'up' : 'down');
          cpm_span_span.appendChild(cpm_span_span_span)
          cpm_span.appendChild(cpm_span_span)
          cpm.appendChild(cpm_span)
          row.append(cpm)

          const cpc = document.createElement('td');
          const cpc_span = document.createElement('span')
          cpc_span.classList.add('wrapper')
          cpc_span.textContent =data.cpc
          const cpc_span_span = document.createElement('span')
          cpc_span_span.classList.add('delta');
          cpc_span_span.textContent =data.delta_cpc;
          const cpc_span_span_span = document.createElement('span')
          cpc_span_span_span.classList.add(data.delta_cpc > 0 ? 'up' : 'down');
          cpc_span_span.appendChild(cpc_span_span_span)
          cpc_span.appendChild(cpc_span_span)
          cpc.appendChild(cpc_span)
          row.append(cpc)

          const ctr = document.createElement('td');
          const ctr_span = document.createElement('span')
          ctr_span.classList.add('wrapper')
          ctr_span.textContent =data.ctr+'%'
          const ctr_span_span = document.createElement('span')
          ctr_span_span.classList.add('delta');
          ctr_span_span.textContent =data.delta_ctr;
          const ctr_span_span_span = document.createElement('span')
          ctr_span_span_span.classList.add(data.delta_ctr > 0 ? 'up' : 'down');
          ctr_span_span.appendChild(ctr_span_span_span)
          ctr_span.appendChild(ctr_span_span)
          ctr.appendChild(ctr_span)
          row.append(ctr)

          const view = document.createElement('td')
          const link = document.createElement('a')
          link.href = `https://business.facebook.com/adsmanager/manage/ads?act={{account_id}}&business_id={{business_id}}&global_scope_id={{app_id}}&nav_entry_point=am_local_scope_selector&column_preset=SALES&date=2023-05-19_2023-06-02%2Clast_14d&insights_date=2023-05-19_2023-06-02%2Clast_14d&selected_campaign_ids=${data.cid}&selected_adset_ids=${data.id}`;
          link.textContent = 'View Adset';
          view.appendChild(link)
          row.appendChild(view)

          return row
        }
        
        console.log("adset data",yesterday_adset_data)

        select.addEventListener("change", function (e) {
            const cname = select.value;
            const _ybody = document.getElementById("yesterday_body");
            const _3body = document.getElementById("last_3_days_body");
            const _7body = document.getElementById("last_7_days_body");
            const _30body = document.getElementById("last_30_days_body");

            _ybody.innerHTML = ''
            _3body.innerHTML = ''
            _7body.innerHTML = ''
            _30body.innerHTML = ''

            if (cname != 'all') {
              const yesterday_data = yesterday_adset_data.filter((el) => el.cname == cname)
              const last_3_days_data = last_3_days_adset_data.filter((el) => el.cname == cname)
              const last_7_days_data = last_7_days_adset_data.filter((el) => el.cname == cname)
              const last_30_days_data = last_30_days_adset_data.filter((el) => el.cname == cname)

              yesterday_data.forEach(el => {
                _ybody.appendChild(createRow(el))
              })
              last_3_days_data.forEach(el => {
                _3body.appendChild(createRow(el))
              })
              last_7_days_data.forEach(el => {
                _7body.appendChild(createRow(el))
              })
              last_30_days_data.forEach(el => {
                _30body.appendChild(createRow(el))
              })
            } else {
              yesterday_adset_data.forEach(el => {
                _ybody.appendChild(createRow(el))
              })
              last_3_days_adset_data.forEach(el => {
                _3body.appendChild(createRow(el))
              })
              last_7_days_adset_data.forEach(el => {
                _7body.appendChild(createRow(el))
              })
              last_30_days_adset_data.forEach(el => {
                _30body.appendChild(createRow(el))
              })
            }

          })
    </script>

  </body>
</html>
